* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: none;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.ritterKuno {
    height: 100%;
    width: 100%;

}

.containerGesamt {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerOben {
    display: flex;
    height: 13%;
}

.containerTitel {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.containerTonart {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

 .containerButtons {
    width: 100%;
    height: 15%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    justify-items: center;
} 

.buttonLinks {
    width: 10%;
    display: flex;
    background-color: white;
    border-color: red;
}
 .buttonSpace {
    width: 20%;
    display:flex;
    font-size: 2rem;
    background-color: rgba(1,1,1,0);
    border-color: rgba(1,1,1,0);
    justify-content: center;
 }

.buttonRechts {
    width: 10%;
    display: flex;
    background-color: white;
    border-color: green;
} 

.containerUnten {
    height: 77%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.containerEingabe {
    height: 100%;
}

.inputText {
    width: 100%;
    height: 60%;
    font-size: 10em;
    background-color:rgb(96, 150, 244);
    text-align: center;
    color: black;
}

.containerFavoriten {
    height: 15%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    justify-items: center;
    align-items: center;
    font-size: 2em;
    background-color: yellow;
}

.containerAutomatik {
    height: 15%;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    justify-items: center;
    /* align-items: center; */
    text-align: center;
}

.AutomatikButton {
    color: white;
    background-color: green;
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-align: center;
    /* justify-items: center;
    justify-content: center;
    align-items: center; */
}

.tastatur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:100%;
    background-color: white;
}

.tastaturABC {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.reiheABC {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: ;
}

.ABC {
    font-size: 2rem;
    font-weight: 900;
    background-color: ;
    color: darkslategray;
    width: 5.5rem;
    height: 5.5rem;
    text-align: center;
    background-color: lightgray;
}

.space {
    font-size: 2rem;
    height: 5.5rem;
    font-weight: 900;
    color: darkslategray;
    width: 100%;
    background-color:goldenrod;
}

.back {
    font-size: 2rem;
    height: 5.5rem;
    width: 22%;
    font-weight: 900;
    color:darkslategray;
    background-color: lightgray;
}

.leerzeile {
    background-color: white;
    height: 4.7rem;
}

.return {
    background-color:dodgerblue;
    width:100%;
    font-weight: 900;
    font-size: 9rem;
    color:lightgray;
}

.tastaturZahlen {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.reiheZahl {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    justify-items: center;
    align-items: center;
}
.zahl {
    font-size: 8em;
    width: 8em;
    font-weight:900;
    color: darkslategray;
    background-color: lightgray;
    text-align: center;
}

/* .outputText {
    text-align: center;
} */

/* .null {   
    font-size: 8em;
    width: 8em;
    font-weight:900;
    color: darkblue;
    background-color: lightgray; 
}

.plus {
    font-size: 8em;
    width: 8em;
    font-weight:900;
    color: darkblue;
    background-color: lightgray;
}

.minus {
    font-size: 8em;
    width: 8em;
    font-weight:900;
    color: darkblue;
    background-color: lightgray;
} */